<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <nav>
        <ul>
            <li><a href="/">All Contacts</a></li>
            <li><a href="/new">New Contact</a></li>
        </ul>
    </nav>
    <section id="contacts">
        <% contacts.forEach(element => { %>
        <article>
            <h3><%= element.name %></h3>
            <h3><%= element.email %></h3>
            <h3><%= element.phone %></h3>
            <img src=<%= element.imgURL %> alt="photo">
            <a href="/single/<%= element._id %>">SEE MORE</a>
        </article>
        <% }) %>
    </section>
</body>

</html>